.App {
  text-align: center;
  animation: fadeIn 5s;
  padding: 20px 10px;
}
a {
  display: block;
  width: 10%;
  margin-top: 2.5rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  background-color: black;
  color: white;
  box-shadow: 0 5px 90px rgba(0, 0, 0, 0.5);
}

.watchList {
  margin: 1rem auto;
  font-size: 1.8rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App-link {
  color: #61dafb;
}

.delete-button {
  visibility: hidden;
}

#search {
  color: black;
}

.table-row:hover .delete-button {
  visibility: visible;
}
